* {
    font-family: 'poppins' , sans-serif;
}

.banner {
    background-image: url(/portfolio/images/background.png);
    background-size: cover ;
    background-repeat: no-repeat;
    padding: 250px;
}

.skills-padding {
    padding: 80px 0px;
}




